{% extends 'base.html.twig' %}

{% block title %}Créer une catégorie {% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form) }}
    <button type="submit" name="btnSubmit">add</button>
    {{ form_end(form) }}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}