@import "bootswatch/_variables";
@import "~bootstrap/scss/bootstrap";
@import "bootswatch/_bootswatch";

body{

    background-color: $primary;
}
h1 {
    color: #000000;
}


.navbar-expand-lg{
    background-color: black !important;
}