<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Wild-Series </a>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wild/">Program</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/program/">Program CRUD</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/season/">Season CRUD</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/episode/">Episode CRUD</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wild/category/add/">Category ADD</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>