<!DOCTYPE html>
<html lang="fr">
    <header>
        <meta charset="UTF-8">
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}

        {% include '_components/_navbar.html.twig' %}
        <title>{% block title %}Welcome!{% endblock %}</title>
    </header>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
